<div class="navbar navbar-light bg-light">	
	

		
		<form method="GET" action="/roar/feed">
			<button class="btn btn-secondary">Public Feed</button>
		</form>
			<h3 class="Welcome">Communities</h1>
		
		<form method="GET" action="/user/<%= userId%>">
			<button class="btn btn-secondary">Profile</button>
		</form>
	
</div>