<div class="navbar navbar-light bg-light">

	<form method="GET" action="/auth/login">
		
			<button class="btn btn-secondary">Login</button>
		
	</form>

	<h3 class="Welcome">R-community</h3>
	<!-- <form method="GET" action="/auth/logout">
		<div>
			<button class="btn btn-secondary ">Logout</button>
		</div>
	</form> -->
	<form method="GET" action="/auth/register">
		<div>
			<button class="btn btn-secondary">Sign Up</button>
		</div>
	</form>

</div>