<div class="navbar navbar-light bg-light">

	<form method="GET" action="/">
		<button class="btn btn-secondary">Home</button>
	</form>
	<h4 class="Welcome">Log in</h4>
	<form method="GET" action="/auth/register">
		<button class="btn btn-secondary">Sign Up</button>
	</form>

</div>


</div>