<div class="navbar navbar-light bg-light">

	<form method="GET" action="/">
		<button class="btn btn-secondary">Home</button>
	</form>
	<h4 class= "Welcome">Sign up</h4>
	<form method="GET" action="/auth/login">
		<button class="btn btn-secondary">Login</button>
	</form>

</div>


</div>