<%-include('../partials/header.ejs')%>

<div class="navbar navbar-light bg-light">

	<form method="GET" action="/">
		<button class="btn btn-secondary">Feed</button>
	</form>
	<div class="roar">
		
		<h3 class="Welcome">Create Community</h3>
	</div>

</div>



<div class="communityForm">
	
<form method="POST" action="/community/new">
	<div class="form-group">
		<label for="communityTitle">Title</label>
		<input class="form-control"type="text" name="communityTitle" placeholder="Enter Your Title">
	</div>
	<div class="form-group">
		<label for="zipCode">Zip Code</label>
		<input class="form-control" type="number" name="zipCode" placeholder="Enter Your Zip">
	</div>
	<div class="form-group">
		<label for="communityDescription">Description </label>
		<textarea class="form-control" name="communityDescription" placeholder="Enter Your Communities Description"></textarea>
	</div>
	<br>
	<button>Create Community</button>
</form>
</div>


<%- include('../partials/footer.ejs') %>