<%-include('../partials/header.ejs')%>

<div class="navbar navbar-light bg-light">

	<form method="GET" action="/">
		<button class="btn btn-secondary">Feed</button>
	</form>
		<h4 style='color:grey'class="Welcome">Create Community</h4>
</div>



<div class="homeBody">
	
<form method="POST" action="/community/new">
	<div class="form-group">
		<label class ="Welcome"for="communityTitle">Title:</label>
		<input class="form-control"type="text" name="communityTitle" placeholder="Enter Your Title">
	</div>
	<div class="form-group">
		<label class ="Welcome" for="zipCode">Zip Code:</label>
		<input class="form-control" type="number" name="zipCode" placeholder="Enter Your Zip">
	</div>
	<div class="form-group">
		<label class ="Welcome" for="communityDescription">Description: </label>
		<textarea class="form-control" name="communityDescription" placeholder="Enter Your Communities Description"></textarea>
	</div>
	<br>
	<button class="btn btn-secondary">Create Community</button>
</form>
</div>


<%- include('../partials/footer.ejs') %>