<%- include('./partials/header.ejs') %>
<%-include('./partials/nav.ejs')%>

	<%= message %>

<!-- <h4 class="Welcome">Welcome to R community</h4> -->

<div class='homeBody'>
	<p class="Welcome">Find communities to join!</p>
	<p class="Welcome">If you don't follow community rules, you can get banned from a community by the admin</p>
</div>


<%- include('./partials/footer.ejs') %>