<%- include('./partials/header.ejs') %>
<div class="homeNav">

	<%= message %>
	
	<form method="GET" action="/login">
		<button>Login</button>
	</form>
	<form method="GET" action="/auth/register">
		<button>Sign Up</button>
	</form>

</div>

<h1 class="Welcome">Welcome to Project R</h1>

<div class='homeBody'>
	<p>Find communities to join!</p>
	<p>If you don't follow community rules, you can get banned from a community by the admin</p>
</div>


<%- include('./partials/footer.ejs') %>