<%- include('./partials/header.ejs') %>

<%-include('./partials/secondNav.ejs')%>

<p><%= message %></p>
<div class="homeBody">
	
	<form method="POST" action="/auth/login">
		<fieldset>
				
			<small class="Welcome">Enter username and password below</small>
			<br>
			<label class="Welcome" for="username">Username:</label>
			<input type="text" name="username" placeholder="Choose a username">
		</fieldset>
		<fieldset>
			<label class="Welcome" for="username">Password:</label>
			<input type="password" name="password" placeholder="Choose a password">
		</fieldset>
		<br>
		<div class ='btnDiv'>
			<button class="btn btn-secondary">Log in</button>
		</div>
	</form>

	
</div>

<%- include('./partials/footer.ejs') %>