<%- include('./partials/header.ejs') %>
<%-include('./partials/thirdNav.ejs')%>



<p><%= message %></p>
<div class="homeBody">
<form method="POST" action="/auth/register">
	<fieldset>
		<small class="Welcome">Choose a username and password below</small>	
		<br>
		<label class="Welcome" for="username">Username:</label>
		<input class="form-control"type="text" name="username" placeholder="Choose a username">
	</fieldset>
	<fieldset>
		<label class="Welcome"for="username">Password:</label>
		<input class="form-control"type="password" name="password" placeholder="Choose a password">
	</fieldset>
	<fieldset>
		<label class="Welcome" for="firstName">First Name:</label>
		<input class="form-control"type="text" name="firstName" placeholder="Enter Your First Name">
	</fieldset>
	<fieldset>
		<label class="Welcome"for="lastName">Last Name:</label>
		<input class="form-control"type="text" name="lastName" placeholder="Enter Your Last Name">
	</fieldset>
	<br>
		<div class ='btnDiv'>
			
			<button class="btn btn-secondary">Sign up!</button>
		</div>
</form>
</div>

<%- include('./partials/footer.ejs') %>