<%-include('../partials/header.ejs')%>
<div class="homeNav">	
	<form method="GET" action="/roar/feed">
		<button>Feed</button>
	</form>
	<form method="GET" action="/auth/logout">
		<button>Logout</button>
	</form>
</div>

<h1>Profile</h1>


<% 
  console.log(communities);
  for(let i = 0; i < user.communities.length; i++) { %>
    <p><%= user.communities[i]._id %></p>
  <form method="POST" action="/user/<%= communities[i]._id %>?_method=delete">
		<button>Leave Community</button>
	</form>
<% } %>

<%-include('../partials/footer.ejs')%>