<%-include('../partials/header.ejs')%>

<div class="navbar navbar-light bg-light">

	
	<form method="GET" action="/roar/feed">
		<button class="btn btn-secondary">Feed</button>
	</form>
		
		<h4 class="Welcome" style="color: grey">New Roar</h4>
	

</div>
<br>
<div class="homeBody">
	<%if(!member){%>
		<form method="POST" action="/roar/new">
	<%}else{%>
		<%if(id == undefined){%>
			<form method="POST" action = "/roar/new">
		<%}else{%>
		<form method="POST" action = "/roar/new/<%=id%>">
			<%id = undefined%>
		<%}%>
	<%}%>

		<div class="form-group">
			<label class="Welcome"for ="title">Title</label>
			<input class="form-control" type="text" name="title" placeholder="Enter Your Roar Title">
		</div>

		<div class="form-group">
			
		<label class="Welcome"for="content"> Content</label>
		<textarea class="form-control" name="content"></textarea>
		</div>
		<div class="form-group">
		<label class="Welcome"for="public">public</label>
		<input type="checkbox" name="public">
		</div>

		<button class="btn btn-secondary">Roar</button>
	</form>

</div>


<%-include('../partials/footer.ejs')%>