<%-include('../partials/header.ejs')%>

<div class="homeNav">

	
	<form method="GET" action="/roar/feed">
		<button>Feed</button>
	</form>

</div>
<br>
<div class="communityForm">
	<%if(!member){%>
		<form method="POST" action="/roar/new">
	<%}else{%>
		<%if(id == undefined){%>
			<form method="POST" action = "/roar/new">
		<%}else{%>
		<form method="POST" action = "/roar/new/<%=id%>">
			<%id = undefined%>
		<%}%>
	<%}%>

		<div class="form-group">
			<label for ="title">Title</label>
			<input type="text" name="title" placeholder="Enter Your Roar Title">
		</div>

		<div class="form-group">
			
		<label for="content"> Content</label>
		<textarea name="content"></textarea>
		</div>
		<div class="form-group">
		<label for="public">public</label>
		<input type="checkbox" name="public">
		</div>

		<button>Roar</button>
	</form>

</div>


<%-include('../partials/footer.ejs')%>